{% extends 'index.html' %}

{% block body %}
<div class='container'>
    <br/>
    <span class="badge bg-primary">ORS Engine: {{ ors_engine_status }}</span>
    <span class="badge bg-primary">Current OSM in Use: {{ current_osm_file }}</span>
    
    <br/><br/>

    <div class="row">
        <div class='col-8'>
    <div class="input-group mb-3">
        <span class="input-group-text">Unit Name</span>
        <select class="form-select form-select-sm" id="unit_name" aria-label=".form-select-sm example">
            <option selected>Select</option>
            {% for distributor in distributors %}
            <option value="{{distributor}}">{{distributor}}</option>
            {% endfor %}
        </select>
    </div>

    <form enctype="multipart/form-data" method="POST" action="">
    <div class="input-group mb-3">
        <span class="input-group-text">State</span>
        <select class="form-select form-select-sm" id="state" aria-label=".form-select-sm example">
            <option selected>Select</option>
            {% for state_name in state_names %}
            <option value="{{state_name}}">{{state_name}}</option>
            {% endfor %}
        </select>
    </div>
      
    {% comment %} <div class="mb-3">
        <label for="formFile" class="form-label">Geo-Coordinate File</label>
        <input class="form-control" type="file" id="coordinate_file">
    </div> {% endcomment %}

    <button type="button" class="btn btn-success" id='calculate_distance_btn'>Calculate Distance Matrix</button>

    <button type="button" class="btn btn-success" id='start_ors'>
        Start ORS Engine
    </button>

    <button type="button" class="btn btn-Danger" id='stop_ors'>
        Stop ORS Engine
    </button>

</form>

<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert" id='msg_div'>
    <p id='msg'>You should check in on some of those fields below.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->
</div>
<div class="col-4">
    <div class="form-group">
        <label for="formFile" class="form-label">Log:</label>
        <textarea class="form-control" id="log_text" rows="3" style='height: 300px;' disabled></textarea>
    </div>
</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Output Files</th>
      </tr>
    </thead>
    <tbody>
        {% for file in output_files %}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href='download_distance_matrix_files?filename={{file}}'>{{file}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}