{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    {% comment %} <title> {% block title %}{% endblock title %} </title> {% endcomment %}
    <title>MAARG</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <span><img src="{% static 'images/roadlogo.png' %}" style="height:50px; width:100px"></span>
            <a class="navbar-brand" href="#">MAARG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Distance Matrix</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cluster">Cluster</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Others
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="capacity_planning">Capacity Planning</a></li>
                            <li><a class="dropdown-item" href="ops_mis">Operation MIS</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% csrf_token %}
    {% block body %}{% endblock body %}
</body>

</html>


<script>
$(document).ready(function(){
    var form_data = new FormData();
    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    form_data.append("csrfmiddlewaretoken", csrf_token);
    $('.spinner-grow').hide();
    $.ajax({
            url: 'get_distance_matrix_log', // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
            data: form_data,
            type: 'post',
            success: function (response) { // display success response
                $('#log_text').val(response.data);
            },
            error: function (response) {
                alert(response.data);
            }
        });
    
    $('#get_capacity_data').click(function(){
        $('.spinner-grow').show();
        var start_date = $('#start_date').val()
        var end_date = $('#end_date').val()
        form_data.append('start_date', start_date)
        form_data.append('end_date', end_date)
        $.ajax({
            url: 'get_capacity_data',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('.spinner-grow').hide();
                alert(response.data);
            },
            error: function (response) {
                $('.spinner-grow').hide();
                alert(response.data);
            }
        });
    });
    
    $('#download_result').change(function(){
        var download_result = $('#download_result').val()
        location.href =  'download_result?download_result='+download_result
    });


    $('#project').change(function(){
        $('#net_revenue').val(0)
        $('#intercompany').val(0)
        $('#pl').val(0)
        $('#liquidation').val(0)
        $('#jit').val(0)
        project = $('#project').prop('checked')
        if (project == true){
            var myModal = new bootstrap.Modal(document.getElementById("projection_input"), {});
            myModal.show();
        }
    });

    $('#calculate_capacity').click(function(){
            $('.spinner-grow').show();
            var start_date = $('#start_date').val()
            var end_date = $('#end_date').val()
            var start_hour = parseInt($('#start_hour').val())
            var end_hour = parseInt($('#end_hour').val())
            var kpi = $('#kpi').val()
            var serviceability = parseFloat($('#serviceability').val())
            var picker_capacity = parseInt($('#picker_capacity').val())
            var checker_capacity = parseInt($('#checker_capacity').val())
            var dispatch_capacity = parseInt($('#dispatch_capacity').val())

            var efficiency = parseFloat($('#efficiency').val())
            picker_capacity = parseInt(picker_capacity*efficiency)
            checker_capacity = parseInt(checker_capacity*efficiency)
            dispatch_capacity = parseInt(dispatch_capacity*efficiency)

            hourtype = $('#hourtype').prop('checked')
            split_hour = 2
            if (hourtype == false){split_hour = 1}

            roaster = $('#roaster_plan').prop('checked')


            if (/*start_hour == 'Select' || end_hour == 'Select' || kpi == 'Select' || */serviceability == ''|| picker_capacity == '' || checker_capacity == '' || dispatch_capacity == '' || start_date == '' || end_date == ''){
                alert('Please enter the hyperparameters!');
                return false
            }

            if (start_hour > end_hour){
                alert('Start hour can not be greater than end hour !')
                return false
            }



            //Projection Parameter
            net_revenue = parseInt($('#net_revenue').val())
            intercompany = parseInt($('#intercompany').val())
            pl = parseInt($('#pl').val())
            liquidation = parseInt($('#liquidation').val())
            jit = parseInt($('#jit').val())

            v1_value = intercompany + pl + liquidation
            v2_value = net_revenue + jit

            total_projection_value = net_revenue + intercompany + pl + liquidation + jit
            
            if (total_projection_value == 0 || total_projection_value == ''){total_projection_value = 0}


    
            /*form_data.append('start_hour', start_hour)
            form_data.append('end_hour', end_hour)
            form_data.append('kpi', kpi)*/
            form_data.append('serviceability', serviceability)
            form_data.append('picker_capacity', picker_capacity)
            form_data.append('checker_capacity', checker_capacity)
            form_data.append('dispatch_capacity', dispatch_capacity)
            form_data.append('start_date', start_date)
            form_data.append('end_date', end_date)
            form_data.append('split_hour', split_hour)
            form_data.append('total_projection_value', total_projection_value)
            form_data.append('v1_value', v1_value)
            form_data.append('v2_value', v2_value)
            form_data.append('roaster', roaster)

            
            $.ajax({
                url: 'calculate_capacity',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    $('.spinner-grow').hide();
                    alert(response.data);
                },
                error: function (response) {
                    $('.spinner-grow').hide();
                    alert(response.data);
                }
            });
    
    });

    $('#start_maarg').click(function(){
            var maarg_distance_benchmark = $('#maarg_distance_benchmark').val()
            var maarg_max_clusters_benchmark = $('#maarg_max_clusters_benchmark').val()
            var maarg_sales_benchmark = $('#maarg_sales_benchmark').val()
            var unit = $('#unit_name_asset_id').val()

            if (maarg_distance_benchmark == '' || maarg_max_clusters_benchmark == '' || unit == 'Select' || unit == ''|| maarg_sales_benchmark == ''){
                alert('Please enter the hyperparameters!');
                return false
            }
    
            form_data.append('maarg_distance_benchmark', maarg_distance_benchmark)
            form_data.append('maarg_max_clusters_benchmark', maarg_max_clusters_benchmark)
            form_data.append('unit', unit)
            form_data.append('maarg_sales_benchmark', maarg_sales_benchmark)
            
            $.ajax({
                url: 'start_maarg',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    alert(response.data)
                },
                error: function (response) {
                    alert(response.data);
                }
            });
    
        });

    $('#start_kmeans').click(function(){
            var kmeans_n_clusters = $('#kmeans_n_clusters').val()
            var kmeans_n_init = $('#kmeans_n_init').val()
            var unit = $('#unit_name_asset_id').val()

            var kmeans_max_iter = $('#kmeans_max_iter').val()
            var kmeans_tol = $('#kmeans_tol').val()
            var kmeans_algorithm = $('#kmeans_algorithm').val()

            if (kmeans_n_clusters == '' || kmeans_n_init == '' || unit == 'Select' || unit == ''|| kmeans_max_iter == '' || kmeans_tol == ''|| kmeans_algorithm == ''){
                alert('Please enter the hyperparameters!');
                return false
            }
    
            file_count = document.getElementById('kmeans_coordinate_file').files.length
            for (var x = 0; x < file_count; x++) {
                form_data.append("file", document.getElementById('kmeans_coordinate_file').files[x]);
            }
    
            form_data.append('kmeans_n_clusters', kmeans_n_clusters)
            form_data.append('kmeans_n_init', kmeans_n_init)
            form_data.append('unit', unit)
            form_data.append('kmeans_max_iter', kmeans_max_iter)
            form_data.append('kmeans_tol', kmeans_tol)
            form_data.append('kmeans_algorithm', kmeans_algorithm)
            
            $.ajax({
                url: 'start_kmeans',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    alert(response.data)
                },
                error: function (response) {
                    alert(response.data);
                }
            });
    
        });

    $('#submit_mis').click(function(){
        file_count = document.getElementById('mis_zip').files.length
        if(file_count == 0){
            alert('Input the mis zip file !')
            return false
        }
        for (var x = 0; x < file_count; x++) {
            form_data.append("file", document.getElementById('mis_zip').files[x]);
        }
        
        $.ajax({
            url: 'build_mis',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                alert(response.data)
            },
            error: function (response) {
                alert(response.data);
            }
        });
        });

    $('#start_dbscan').click(function(){
        var epsilon = $('#dbscan_epsilon').val()
        var min_samples = $('#dbscan_min_samples').val()
        var unit = $('#unit_name_asset_id').val()
        if (epsilon == '' || min_samples == '' || unit == 'Select' || unit == ''){
            alert('Please enter the hyperparameters!');
            return false
        }

        file_count = document.getElementById('dbscan_coordinate_file').files.length
        for (var x = 0; x < file_count; x++) {
            form_data.append("file", document.getElementById('dbscan_coordinate_file').files[x]);
        }

        form_data.append('epsilon', epsilon)
        form_data.append('min_samples', min_samples)
        form_data.append('unit', unit)

        $.ajax({
            url: 'start_dbscan',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                alert(response.data)
            },
            error: function (response) {
                alert(response.data);
            }
        });

    });

    $('#generate_sales_data').click(function(){
        unit_asset_id = $('#unit_name_asset_id').val()
        form_data.append('unit_asset_id', unit_asset_id)
        $.ajax({
            url: 'generate_sales_data',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                alert('Sale Data Generated!')
                $('#sales_data').text(response.sales_data)
            },
            error: function (response) {
                alert(response.data);
            }
        });
    })

    $('#unit_name_asset_id').change(function(){
        unit_asset_id = $('#unit_name_asset_id').val()
        form_data.append('unit_asset_id', unit_asset_id)
        $.ajax({
            url: 'check_cluster_requirement',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (response) { // display success response
                $('#distance_matrix_file').text(response.distance_matrix)
                $('#sales_data').text(response.sales_data)
                //sales_data
            },
            error: function (response) {
                alert(response.data);
            }
        });
    });
    
    $('#start_clustering').click(function(){
        var clustering_method = $('#clustering_method').val()
        if (clustering_method == 'kmeans'){
            var myModal = new bootstrap.Modal(document.getElementById("kmeansmodal"), {});
            myModal.show();
        }
        else if(clustering_method == 'dbscan'){
            var myModal = new bootstrap.Modal(document.getElementById("dbscanmodal"), {});
            myModal.show();
        }
        else if(clustering_method == 'maarg'){
            var myModal = new bootstrap.Modal(document.getElementById("maargmodal"), {});
            myModal.show();
        }
        else{
            alert('Kindly select a clustering method !');
        }
        // unit_asset_id = $('#unit_name_asset_id').val()
        // form_data.append('unit_asset_id', unit_asset_id)
        // $.ajax({
        //     url: 'start_clustering',
        //     dataType: 'json',
        //     cache: false,
        //     contentType: false,
        //     processData: false,
        //     data: form_data,
        //     type: 'post',
        //     success: function (response) { // display success response
        //         alert(response.data);
        //     },
        //     error: function (response) {
        //         alert(response.data);
        //     }
        // });
    });

    $('#start_ors').click(function(){
        $.ajax({
            url: 'start_ors', // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
            data: form_data,
            type: 'post',
            success: function (response) { // display success response
                alert(response.data);
            },
            error: function (response) {
                alert(response.data);
            }
        });
    })

    $('#stop_ors').click(function(){
        $.ajax({
            url: 'stop_ors', // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
            data: form_data,
            type: 'post',
            success: function (response) { // display success response
                alert(response.data);
            },
            error: function (response) {
                alert(response.data);
            }
        });
    })

    $("#calculate_distance_btn").click(function(){
        var form_data = new FormData();
        //var ins = document.getElementById('coordinate_file').files.length;
        var unitname = $('#unit_name').val()
        var state = $('#state').val()

        if (unit_name == 'Select'){
            alert('Kindly select unit name !')
            return false
        }

        if (state == 'Select'){
            alert('Kindly select the state !')
            return false
        }

        /*file_count = document.getElementById('coordinate_file').files.length
        if (file_count < 1){
            alert('Kindly upload the geo coordinate file !')
            return false
        }

        for (var x = 0; x < ins; x++) {
            form_data.append("file", document.getElementById('coordinate_file').files[x]);
        }*/

        form_data.append('unitname', unitname)
        form_data.append('state', state);

        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

        form_data.append("csrfmiddlewaretoken", csrf_token);
        $.ajax({
                    url: 'calculate_distance', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
                    data: form_data,
                    type: 'post',
                    success: function (response) { // display success response
                        $('#msg').html(response.msg);
                        $('#msg_div').show();
                        alert(response.data);
                    },
                    error: function (response) {
                        $('#msg').html(response.message); // display error response
                        $('#msg_div').show();
                        alert(response.data);
                    }
				});

    });

});
</script>