{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title> {% block title %}{% endblock title %} </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MAARG<span class="glyphicon glyphicon-road"></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/vyuha">Distance Matrix</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hello2">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% csrf_token %}
    {% block body %}{% endblock body %}
</body>

</html>


<script>
$(document).ready(function(){
    var form_data = new FormData();
    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    form_data.append("csrfmiddlewaretoken", csrf_token);

    $.ajax({
            url: 'get_distance_matrix_log', // point to server-side URL
            dataType: 'json', // what to expect back from server
            cache: false,
            contentType: false,
            processData: false,
            //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
            data: form_data,
            type: 'post',
            success: function (response) { // display success response
                $('#log_text').val(response.data);
            },
            error: function (response) {
                alert(response.data);
            }
        });

    $("#calculate_distance_btn").click(function(){
        var form_data = new FormData();
        var ins = document.getElementById('coordinate_file').files.length;
        var unitname = $('#unit_name').val()
        var state = $('#state').val()

        // if(ins == 0) {
        //     $('#msg').html('<span style="color:red">Select at least one file</span>');
        //     return;
        // }
					
        for (var x = 0; x < ins; x++) {
            form_data.append("file", document.getElementById('coordinate_file').files[x]);
        }

        form_data.append('unitname', unitname)
        form_data.append('state', state);

        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

        form_data.append("csrfmiddlewaretoken", csrf_token);
        $.ajax({
                    url: 'calculate_distance', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    //data: {'data': form_data, 'csrfmiddlewaretoken': csrf_token},
                    data: form_data,
                    type: 'post',
                    success: function (response) { // display success response
                        $('#msg').html(response.msg);
                        $('#msg_div').show();
                        alert(response.data);
                    },
                    error: function (response) {
                        $('#msg').html(response.message); // display error response
                        $('#msg_div').show();
                        alert(response.data);
                    }
				});

    });

});
</script>